.module.schedule {
    max-height: 100%; overflow: hidden; display: flex;
    ul {
        list-style: none; padding: 0; height: 100%; overflow: hidden; // overflow-y: auto;
        li {
            @include clearfix;
            min-height: 120px;
            margin-bottom: $grid-gutter-width / 2;
            background: #fff; border: 1px solid $gray-200;
            figure {
                float: right; width: 160px; margin-bottom: 0; transition: $transition-default;
                img { display: block; width: 100%; height: auto; }
            }
            .desc {
                margin-right: 160px; padding: $grid-gutter-width / 2; transition: $transition-default;
                h4 { color: #808080; font-size: 13px; }
                h3 { font-size: 1.25rem; }
                .time { display: inline-block; float: left; }
                .episode { font-size: 60%; color: #666; }
                p {
                    font-size: 0.8rem;
                    &.summary { overflow: hidden; max-height: 2.4rem; }
                    &.description { display: none; margin-bottom: 0; max-height: 3.6rem; overflow: hidden; }
                }
                time {
                    padding-top: 20px; display: block; width: 100px; height: 100px; position: absolute; left: 0; top: 0;
                    color: #ec602b; font-size: 30px; font-weight: bold; text-align: center;
                    span { color: #808080; display: block; font-size: 16px; }
                }
            }
            &.current { background: $gray-100; }
            &.current, &.active {
                figure { width: 200px; }
                .desc {
                    margin-right: 200px;
                    p.description { display: block; }
                }
            }
        }
    }
    &.schedule-carousel {
        background: rgba(0, 0, 0, 0.8);
        > div { padding-bottom: 30px; }
        ul {
            background: #fff;
            li {
                border: 0 none; border-bottom: 1px solid $gray-200; position: relative;
                margin: 0 ; padding: $grid-gutter-width; height: 132px;
                .desc {
                    padding: 0 $grid-gutter-width / 2 0 120px;
                    p { font-size: 0.75rem; color: #808080; margin-bottom: 0; max-height: 36px; overflow: hidden; }
                }
                &.current, &.active { height: auto; }
                &.video {
                    figure {
                        position: relative;
                        &:before {
                            display: block; content: '\ea1c'; font: normal 2rem/1 $font-family-icons; position: absolute; top: 50%; left: 50%;
                            transform: translateX(-50%) translateY(-50%); color: #fff; text-shadow: 0 0 3px #333;
                        }
                    }
                }
            }
            .slick-center li { border-right: 5px solid #2cb379; }
        }
    }
}