@font-face {
    font-family: $font-family-icons;
    src: url('assets/font/icons/hop-icons.eot?d97cwb');
    src: url('assets/font/icons/hop-icons.eot?d97cwb#iefix') format('embedded-opentype'),
    url('assets/font/icons/hop-icons.ttf?d97cwb') format('truetype'),
    url('assets/font/icons/hop-icons.woff?d97cwb') format('woff'),
    url('assets/font/icons/hop-icons.svg?d97cwb#hbbtv') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: $font-family-icons;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-credit-card:before {
    content: "\e93b";
}
.icon-basket:before {
    content: "\e935";
}
.icon-tag:before {
    content: "\f02b";
}
.icon-tags:before {
    content: "\f02c";
}
.icon-square:before {
    content: "\f0c8";
}
.icon-newspaper-o:before {
    content: "\f1ea";
}
.icon-street-view:before {
    content: "\f21d";
}
.icon-hashtag:before {
    content: "\f292";
}
.icon-chat:before {
    content: "\e900";
}
.icon-envelope:before {
    content: "\e901";
}
.icon-modem:before {
    content: "\e902";
}
.icon-cord:before {
    content: "\e903";
}
.icon-camera:before {
    content: "\e904";
}
.icon-movie:before {
    content: "\e905";
}
.icon-tv:before {
    content: "\e906";
}
.icon-volume:before {
    content: "\e907";
}
.icon-music:before {
    content: "\e908";
}
.icon-radio:before {
    content: "\e909";
}
.icon-headphone:before {
    content: "\e90a";
}
.icon-broadcast:before {
    content: "\e90b";
}
.icon-gamepad:before {
    content: "\e90c";
}
.icon-newspaper:before {
    content: "\e90d";
}
.icon-gift:before {
    content: "\e90e";
}
.icon-star:before {
    content: "\e90f";
}
.icon-heart:before {
    content: "\e910";
}
.icon-badge:before {
    content: "\e911";
}
.icon-cup:before {
    content: "\e912";
}
.icon-snowflake:before {
    content: "\e913";
}
.icon-cloud:before {
    content: "\e914";
}
.icon-lightning:before {
    content: "\e915";
}
.icon-night:before {
    content: "\e916";
}
.icon-sunny:before {
    content: "\e917";
}
.icon-arrow-up:before {
    content: "\e918";
}
.icon-arrow-down:before {
    content: "\e919";
}
.icon-arrow-left:before {
    content: "\e91a";
}
.icon-arrow-right:before {
    content: "\e91b";
}
.icon-refresh:before {
    content: "\e91c";
}
.icon-calendar-alt:before {
    content: "\e91d";
}
.icon-cloudy:before {
    content: "\e91e";
}
.icon-movie_filter:before {
    content: "\e930";
}
.icon-brightness_1:before {
    content: "\e3a6";
}
.icon-brightness_2:before {
    content: "\e3a7";
}
.icon-brightness_3:before {
    content: "\e3a8";
}
.icon-brightness_4:before {
    content: "\e3a9";
}
.icon-brightness_low:before {
    content: "\e1ad";
}
.icon-brightness_medium:before {
    content: "\e1ae";
}
.icon-brightness_high:before {
    content: "\e1ac";
}
.icon-cast:before {
    content: "\e307";
}
.icon-cast_connected:before {
    content: "\e308";
}
.icon-hd:before {
    content: "\e052";
}
.icon-info_outline:before {
    content: "\e88f";
}
.icon-bottom:before {
    content: "\e313";
}
.icon-left:before {
    content: "\e314";
}
.icon-right:before {
    content: "\e315";
}
.icon-up:before {
    content: "\e316";
}
.icon-lightbulb_outline:before {
    content: "\e91f";
}
.icon-share:before {
    content: "\e80d";
}
.icon-signal_cellular_connected_no_internet_4_bar:before {
    content: "\e1cd";
}
.icon-texture:before {
    content: "\e421";
}
.icon-tune:before {
    content: "\e429";
}
.icon-tv1:before {
    content: "\e333";
}
.icon-view_array:before {
    content: "\e8ea";
}
.icon-view_carousel:before {
    content: "\e8eb";
}
.icon-view_day:before {
    content: "\e8ed";
}
.icon-wb_sunny:before {
    content: "\e430";
}
.icon-web:before {
    content: "\e051";
}
.icon-weekend:before {
    content: "\e16b";
}
.icon-sun:before {
    content: "\e920";
}
.icon-sunrise:before {
    content: "\e921";
}
.icon-sunset:before {
    content: "\e922";
}
.icon-wifi:before {
    content: "\e923";
}
.icon-wifi-off:before {
    content: "\e924";
}
.icon-iran:before {
    content: "\e934";
}
.icon-book_1:before {
    content: "\e92f";
}
.icon-line-graph:before {
    content: "\e929";
}
.icon-enter:before {
    content: "\e925";
}
.icon-stats:before {
    content: "\e931";
}
.icon-day:before {
    content: "\e927";
}
.icon-moon:before {
    content: "\e928";
}
.icon-foggy:before {
    content: "\e92a";
}
.icon-windy:before {
    content: "\e92b";
}
.icon-cloudy-day:before {
    content: "\e92d";
}
.icon-cloudy-night:before {
    content: "\e92e";
}
.icon-dust:before {
    content: "\e932";
}
.icon-cloudy-2:before {
    content: "\e933";
}
.icon-drizzle:before {
    content: "\e936";
}
.icon-showers:before {
    content: "\e937";
}
.icon-tropical-storm:before {
    content: "\e938";
}
.icon-windy-rainy:before {
    content: "\e939";
}
.icon-flurries:before {
    content: "\e93a";
}
.icon-snow-drizzle:before {
    content: "\e93c";
}
.icon-hail:before {
    content: "\e93d";
}
.icon-thunderstorms-2:before {
    content: "\e93f";
}
.icon-thunderstorms:before {
    content: "\e940";
}
.icon-sun-hot:before {
    content: "\e941";
}
.icon-tornado:before {
    content: "\e946";
}
.icon-freezing-rain:before {
    content: "\e949";
}
.icon-sleet:before {
    content: "\e94c";
}
.icon-mixed-rain-and-sleet:before {
    content: "\e94d";
}
.icon-mixed-rain-and-snow:before {
    content: "\e94f";
}
.icon-thermometer:before {
    content: "\e952";
}
.icon-none:before {
    content: "\e955";
}
.icon-drop:before {
    content: "\e926";
}
.icon-location:before {
    content: "\e948";
}
.icon-clock:before {
    content: "\e94e";
}
.icon-calendar:before {
    content: "\e953";
}
.icon-play:before {
    content: "\ea1c";
}
.icon-pause:before {
    content: "\ea1d";
}
.icon-stop:before {
    content: "\ea1e";
}
.icon-backward:before {
    content: "\ea1f";
}
.icon-forward:before {
    content: "\ea20";
}
.icon-previous:before {
    content: "\ea23";
}
.icon-next:before {
    content: "\ea24";
}
.icon-book:before {
    content: "\e92c";
}
