@font-face {
	font-family: 'Vazir';
	src: url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-FD.eot?95570995');
	src: url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-FD.eot?95570995#iefix') format('embedded-opentype'),
		url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-FD.woff2?95570995') format('woff2'),
		url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-FD.woff?95570995') format('woff'),
		url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-FD.ttf?95570995') format('truetype'),
		url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-FD.svg?95570995#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Vazir';
	src: url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-Medium-FD.eot?95570995');
	src: url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-Medium-FD.eot?95570995#iefix') format('embedded-opentype'),
		url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-Medium-FD.woff2?95570995') format('woff2'),
		url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-Medium-FD.woff?95570995') format('woff'),
		url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-Medium-FD.ttf?95570995') format('truetype'),
		url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-Medium-FD.svg?95570995#icons') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Vazir';
	src: url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-Bold-FD.eot?95570995');
	src: url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-Bold-FD.eot?95570995#iefix') format('embedded-opentype'),
		url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-Bold-FD.woff2?95570995') format('woff2'),
		url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-Bold-FD.woff?95570995') format('woff'),
		url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-Bold-FD.ttf?95570995') format('truetype'),
		url('assets/font/vazir/vazir-v16.0.1/FD/Vazir-Bold-FD.svg?95570995#icons') format('svg');
	font-weight: bold;
	font-style: normal;
}
