.module.prayer-times {
    height: 100%;
    .form-group { margin-top: $grid-gutter-width * 2; }
    ul {
        list-style: none; padding: 0; margin-top: 40px; margin-left: $grid-gutter-width / -2; margin-right: $grid-gutter-width / -2;
        li {
            float: right; width: 16.66666%; padding: $grid-gutter-width / 2; text-align: center;
            .inner { background: $gray-200; height: 0; overflow: hidden; padding-bottom: 100%; }
            span {
                display: block;
                i { display: block; font-size: 2rem; line-height: 4rem; color: $gray-500; }
                &.time { font-size: 1.7rem; }
            }
        }
    }
}