<section class="module info">
    <div class="info-module">
        <h3>پلتفرم متن باز بومی HbbTV</h3>
        <p></p>
        <p>پلتفرم بومی تلویزیون ترکیبی پخش زمینی دیجیتال و باند وسیع (HbbTV) با نام HbbTV Open Platform با HOP به همت کارشناسان مدیریت توسعه رسانه های نوین اداره کل فناوری رسانه های نوین در مرکز فناوری مجازی معاونت توسعه و فناوری رسانه
            توسعه داده شده است. برخی از ویژگی های این پلتفرم عبارتند از:</p>
        <ul>
            <li>نوشته شده با زبان TypeScript و فریم‌ورک‌های Webpack و SCSS</li>
            <li>استفاده از فایل تنظیمات با فورمت JSON و امکان راه‌اندازی هم‌زمان چند اپلیکیشن با یک نصب</li>
            <li>توسعه و پیکربندی سریع و آسان ماژول برای اپلیکیشن‌ها</li>
            <li>طراحی کاربرپسند به همراه اطلاع ساعت سرور و نماد اتصال به اینترنت</li>
            <li>امکان استفاده در رزولوشن‌ها و نسبت‌های مختلف تصویر</li>
            <li>امکان راه‌اندازی به زبان‌های مختلف (چپ به راست و راست و به چپ)</li>
        </ul>
        <p>همچنین سورس کد برنامه به صورت آزاد روی سایت GitHub بارگذاری شده و توسعه‌دهنده‌ها می‌توانند اپلیکیشن‌های خود را روی چارچوب برنامه ایجاد کنند. آدرس پروژه:</p>
        <p class="ltr">https://github.com/faridv/hop</p>
    </div>
</section>