<section class="module market">
    <!--<header><h2>اطلاعات بازار</h2></header>-->
    <div>
        <div class="row">
            <div class="col-3">
                <ul class="market-items">
                    {{#each items}}
                    {{#if State}}
                    <li data-id="{{Id}}" data-ref="{{Ref}}" data-unit="{{Unit}}" {{#if @first}}class="current active"{{/if}}>
                        {{Title}}{{#if Ref}}&nbsp;({{Ref}}){{/if}}
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
            <div class="col-9">
                <div id="market-details"></div>
            </div>
        </div>
    </div>
</section>