.footer-items {
    list-style: none; margin: 0 $grid-gutter-width; padding: 0;
    li {
        display: inline-block; font-size: 16px; color: #fff; text-shadow: 0 0 3px #333; margin-left: $grid-gutter-width;
        i { margin-left: 10px; }
        &.red, &.space, &[class^="red,r"] {
            i { color: $red; }
        }
        &.green {
            i { color: $green; }
        }
        &.blue {
            i { color: $blue; }
        }
        &.yelllow{
            i { color: $yellow; }
        }
    }
}