.layout-carousel {
    #menu {
        //box-shadow: inset 0px -200px 200px -170px rgba(0,0,0,0.75);
        position: absolute; bottom: 50px; width: 100%;
        ul {
            margin: 0; padding: 0; list-style: none;
            li {
                width: 200px; height: 200px; text-align: center; background: #303F9F; padding: 30px 15px; color: #fff;
                a { text-decoration: none; color: #fff; display: inline-block; }
                //box-shadow: 0 0 5px #777; transition: $transition-default;
                //margin: 0 10px;
                .glyphicon { font-size: 56px; }

                &[data-type="info"] { background: linear-gradient(135deg, #26c6da 0%, darken(#26c6da, 20%) 100%); }
                &[data-type="games"] { background: linear-gradient(135deg, #26a69a 0%, darken(#26a69a, 20%) 100%); }
                &[data-type="weather"] { background: linear-gradient(135deg, #ffa726 0%, darken(#ffa726, 20%) 100%); }
                &[data-type="schedule"] { background: linear-gradient(135deg, #42a5f5 0%, darken(#42a5f5, 20%) 100%); }
                &[data-type="prayer-times"] { background: linear-gradient(135deg, #9ccc65 0%, darken(#9ccc65, 20%) 100%); }
            }
        }
        .slick-slide {
            > div { padding: 10px; }
        }
        .slick-current {
            &.slick-active {
                li {
                    //background: #9C27B0;
                    transform: scale(1.1);
                }
            }
        }
        .slick-arrow { display: none !important; }

        &.out { display: none; }
    }
    #content {
        background: rgba(255, 255, 255, 0.8); box-shadow: 0 0 20px rgba(0, 0, 0, 0.75); padding: 20px;
        width: 80%; height: 75%; position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);
        transition: 0.5s all; margin-top: 0; opacity: 1; visibility: visible;
        &:empty { margin-top: 100px; opacity: 0; visibility: hidden; }
        &.fullscreen { padding: 0; width: 100%; height: 100%; }
        &.half { width: 45%; left: 25%; height: 45%; }
    }
}