.layout-iktv {
    #menu {
        position: absolute; bottom: 50px; width: 100%;
        ul {
            margin: 0; padding: 0; list-style: none;
            li {
                a { text-decoration: none; color: #fff; display: inline-block; }
                width: 150px; height: 140px; text-align: center; background: #292940; padding: 30px 10px 0; color: #fff;
                .glyphicon { font-size: 42px; }
                h3 { font-size: 1rem; }
            }
        }
        .slick-slide {
            > div { padding: 10px; }
        }
        .slick-current {
            &.slick-active {
                li { background: #c10c08; }
            }
        }
        .slick-arrow { display: none !important; }

        &.out { display: none; }
    }
    #content {
        background: transparent;
        width: 100%; height: 100%; position: absolute; top: 0; left: 0;
        transition: 0.5s all; margin-top: 0; opacity: 1; visibility: visible;
        &:empty { margin-top: 100px; opacity: 0; visibility: hidden; }
        &.fullscreen { padding: 0; width: 100%; height: 100%; }
        &.half { width: 45%; left: 25%; height: 45%; }

    }
    .module { background: rgba(255, 255, 255, 0.8); padding: $grid-gutter-width * 2; }
    .slick-list { overflow: hidden; }
}
